<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span routerLink="/home">Currículos Sis</span>
    </a>
  </div>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/palavraRaiz">
        <i class="fa fa-search"></i>
        <p>Palavra Raiz</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/palavraChave">
        <i class="fa fa-search"></i>
        <p>Palavra Chave</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/experienciaProfissional">
        <i class="fa fa-search"></i>
        <p>Experiencia Profissional</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/melhoresOportunidades">
        <i class="fa fa-star"></i>
        <p>Melhores Oportunidades</p>
      </a>
    </li>
  </ul>


</div>
